<div class="hire">
    <section class="hire-header">
        <div>
            <img src="assets/img/pootaa-color.svg" alt="Pootaa" />
        </div>
        <h4>Hire a Porter</h4>
        <div class="numbers-box">
            <div class="numbers__figure" [class.active]="activeTab === 1">
                1
            </div>
            <div class="numbers__line"></div>
            <div class="numbers__figure" [class.active]="activeTab === 2">
                2
            </div>
            <div class="numbers__line"></div>
            <div class="numbers__figure" [class.active]="activeTab === 3">
                3
            </div>
            <div class="numbers__line"></div>
            <div class="numbers__figure" [class.active]="activeTab === 4">
                4
            </div>
        </div>
    </section>

    <div *ngIf="activeTab === 1" class="hire-section">
        <h5>Pick Up Address</h5>
        <form [formGroup]="formData1" (ngSubmit)="step1(formData1.value)">
            <div class="hire-form">
                <div>
                    <input
                        type="text"
                        name="pick_up_add"
                        placeholder="Pick Up Address"
                        required
                        formControlName="pick_up_add"
                    />
                    <span
                        class="form-error"
                        *ngIf="
                            formData1.controls.pick_up_add.touched &&
                            formData1.controls.pick_up_add.invalid
                        "
                        >Field is required
                    </span>
                </div>
                <div>
                    <input
                        type="text"
                        name="pick_up_country"
                        placeholder="Country"
                        disabled
                        required
                        formControlName="pick_up_country"
                    />
                    <span
                        class="form-error"
                        *ngIf="
                            formData1.controls.pick_up_country.touched &&
                            formData1.controls.pick_up_country.invalid
                        "
                        >Field is required
                    </span>
                </div>
                <div>
                    <select
                        name="pick_up_state"
                        (change)="selectLGA($event)"
                        formControlName="pick_up_state"
                        required
                    >
                        <option value="" disabled selected hidden
                            >-Select State-</option
                        >
                        <option
                            [value]="state.name"
                            *ngFor="let state of states"
                            >{{ state.name }}</option
                        >
                    </select>
                    <span
                        class="form-error"
                        *ngIf="
                            formData1.controls.pick_up_state.touched &&
                            formData1.controls.pick_up_state.invalid
                        "
                        >Field is required
                    </span>
                </div>
            </div>
            <div class="hire-form">
                <div>
                    <select
                        name="pick_up_lga"
                        [disabled]="loading"
                        formControlName="pick_up_lga"
                        required
                    >
                        <option value="" disabled selected hidden
                            >-Select LGA-</option
                        >
                        <option [value]="lga" *ngFor="let lga of lgas">{{
                            lga
                        }}</option>
                    </select>
                    <span
                        class="form-error"
                        *ngIf="
                            formData1.controls.pick_up_lga.touched &&
                            formData1.controls.pick_up_lga.invalid
                        "
                        >Field is required
                    </span>
                </div>
                <div>
                    <input
                        type="text"
                        name="pick_up_nearest_busstop"
                        placeholder="Nearest Busstop"
                        required
                        formControlName="pick_up_nearest_busstop"
                    />
                    <span
                        class="form-error"
                        *ngIf="
                            formData1.controls.pick_up_nearest_busstop
                                .touched &&
                            formData1.controls.pick_up_nearest_busstop.invalid
                        "
                        >Field is required
                    </span>
                </div>
                <div>
                    <input
                        type="text"
                        name="pick_up_date"
                        placeholder="Best Date for Pickup"
                        required
                        formControlName="pick_up_date"
                    />
                    <span
                        class="form-error"
                        *ngIf="
                            formData1.controls.pick_up_date.touched &&
                            formData1.controls.pick_up_date.invalid
                        "
                        >Field is required
                    </span>
                </div>
            </div>
            <div class="hire-form">
                <div>
                    <input
                        type="text"
                        name="pick_up_time"
                        placeholder="Best Time for Pickup"
                        required
                        formControlName="pick_up_time"
                    />
                    <span
                        class="form-error"
                        *ngIf="
                            formData1.controls.pick_up_time.touched &&
                            formData1.controls.pick_up_time.invalid
                        "
                        >Field is required
                    </span>
                </div>
                <div>
                    <input
                        type="number"
                        name="phone"
                        placeholder="Phone Number"
                        required
                        formControlName="phone"
                    />
                    <span
                        class="form-error"
                        *ngIf="
                            formData1.controls.phone.touched &&
                            formData1.controls.phone.invalid
                        "
                        >Field is required
                    </span>
                </div>
                <div></div>
            </div>
            <div class="hire-btn">
                <button
                    class="btn btn__primary"
                    type="submit"
                    [disabled]="formData1.invalid"
                >
                    Next
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="activeTab === 2" class="hire-section">
        <h5>Delivery Address</h5>
        <form [formGroup]="formData2" (ngSubmit)="step2(formData2.value)">
            <div class="hire-form">
                <div>
                    <input
                        type="text"
                        name="delivery_country"
                        placeholder="Country"
                        formControlName="delivery_country"
                        disabled
                    />
                    <span
                        class="form-error"
                        *ngIf="
                            formData2.controls.delivery_country.touched &&
                            formData2.controls.delivery_country.invalid
                        "
                        >Field is required
                    </span>
                </div>
                <div>
                    <select
                        name="delivery_state"
                        (change)="selectLGA($event)"
                        formControlName="delivery_state"
                        required
                    >
                        <option value="" disabled selected hidden
                            >-Select State-</option
                        >
                        <option
                            [value]="state.name"
                            *ngFor="let state of states"
                            >{{ state.name }}</option
                        >
                    </select>
                    <span
                        class="form-error"
                        *ngIf="
                            formData2.controls.delivery_state.touched &&
                            formData2.controls.delivery_state.invalid
                        "
                        >Field is required
                    </span>
                </div>
                <div>
                    <select
                        name="delivery_lga"
                        [disabled]="loading"
                        formControlName="delivery_lga"
                        required
                    >
                        <option value="" disabled selected hidden
                            >-Select LGA-</option
                        >
                        <option [value]="lga" *ngFor="let lga of lgas">{{
                            lga
                        }}</option>
                    </select>
                    <span
                        class="form-error"
                        *ngIf="
                            formData2.controls.delivery_lga.touched &&
                            formData2.controls.delivery_lga.invalid
                        "
                        >Field is required
                    </span>
                </div>
            </div>
            <div class="hire-form">
                <div>
                    <input
                        type="text"
                        name="delivery_address"
                        placeholder="Street Address"
                        formControlName="delivery_address"
                    />
                    <span
                        class="form-error"
                        *ngIf="
                            formData2.controls.delivery_address.touched &&
                            formData2.controls.delivery_address.invalid
                        "
                        >Field is required
                    </span>
                </div>
                <div>
                    <input
                        type="text"
                        name="delivery_busstop"
                        placeholder="Nearest Busstop"
                        formControlName="delivery_busstop"
                    />
                    <span
                        class="form-error"
                        *ngIf="
                            formData2.controls.delivery_busstop.touched &&
                            formData2.controls.delivery_busstop.invalid
                        "
                        >Field is required
                    </span>
                </div>
                <div>
                    <input
                        type="text"
                        name="recipient_name"
                        placeholder="Recipient Name"
                        formControlName="recipient_name"
                    />
                    <span
                        class="form-error"
                        *ngIf="
                            formData2.controls.recipient_name.touched &&
                            formData2.controls.recipient_name.invalid
                        "
                        >Field is required
                    </span>
                </div>
            </div>
            <div class="hire-form">
                <div>
                    <input
                        type="number"
                        name="recipient_phone"
                        placeholder="Recipient's Phone"
                        formControlName="recipient_phone"
                    />
                    <span
                        class="form-error"
                        *ngIf="
                            formData2.controls.recipient_phone.touched &&
                            formData2.controls.recipient_phone.invalid
                        "
                        >Field is required
                    </span>
                </div>
                <div>
                    <input
                        type="text"
                        name="recipient_date"
                        placeholder="Best Date for Pickup"
                        formControlName="recipient_date"
                    />
                    <span
                        class="form-error"
                        *ngIf="
                            formData2.controls.recipient_date.touched &&
                            formData2.controls.recipient_date.invalid
                        "
                        >Field is required
                    </span>
                </div>
                <div>
                    <input
                        type="text"
                        name="recipient_time"
                        placeholder="Best Time for Pickup"
                        formControlName="recipient_time"
                    />
                    <span
                        class="form-error"
                        *ngIf="
                            formData2.controls.recipient_time.touched &&
                            formData2.controls.recipient_time.invalid
                        "
                        >Field is required
                    </span>
                </div>
            </div>
            <div class="hire-btn">
                <a class="hire-back" (click)="goBack()">Back</a>
                <button class="btn btn__primary" 
                [disabled]="formData2.invalid || loading" type="submit">
                <img
                    *ngIf="loading"
                    src="assets/img/loading.gif"
                    alt="Loading..."
                    height="24px"
                />
                    <span *ngIf="!loading">Next</span>
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="activeTab === 3" class="hire-section">
        <h5>Items for shipping</h5>
        <form [formGroup]="formData3" (ngSubmit)="step3(formData3.value)">
            <div class="hire-form">
                <div>
                    <input
                        type="text"
                        name="item"
                        formControlName="item"
                        required
                        placeholder="Item"
                    />
                    <span
                        class="form-error"
                        *ngIf="
                            formData3.controls.item.touched &&
                            formData3.controls.item.invalid
                        "
                        >Field is required
                    </span>
                </div>
                <div>
                    <input
                        type="number"
                        name="quantity"
                        placeholder="Quantity"
                        formControlName="quantity"
                        required
                    />
                    <span
                        class="form-error"
                        *ngIf="
                            formData3.controls.quantity.touched &&
                            formData3.controls.quantity.invalid
                        "
                        >Field is required
                    </span>
                </div>
                <div>
                    <input
                        type="number"
                        name="cost"
                        formControlName="cost"
                        required
                        placeholder="Cost(&#8358;)"
                    />
                    <span
                        class="form-error"
                        *ngIf="
                            formData3.controls.cost.touched &&
                            formData3.controls.cost.invalid
                        "
                        >Field is required
                    </span>
                </div>
            </div>
            <div class="hire-form">
                <textarea
                    name="instructions"
                    rows="5"
                    formControlName="instructions"
                    required
                    placeholder="Do you have any special instruction or value of shipment?"
                ></textarea>
                <span
                    class="form-error"
                    *ngIf="
                        formData3.controls.instructions.touched &&
                        formData3.controls.instructions.invalid
                    "
                    >Field is required
                </span>
            </div>
            <div class="hire-form__uploads">
                <div class="hire-form__upload">
                    <p *ngIf="imageError" class="red"><small>There was an error uploading your image</small></p>
                    <input
                        type="file"
                        name="image_url"
                        accept="image/gif,image/jpeg,image/jpg,image/png"
                        (change)="uploadImage($event)"
                        required
                    />
                    <img
                    *ngIf="imageLoading"
                    src="assets/img/loading.gif"
                    alt="Loading..."
                    height="18px"
                    width="18px"
                />
                    <img [src]="formImage" alt="Pootaa Item Image" *ngIf="formImage && !imageLoading">
                    <label for="photo" class="caution"
                        >+ <br />Upload&nbsp;Item<br />
                        Photos</label
                    >
                </div>
                <div class="hire-btn hire-btn__add">
                    <button
                        class="btn btn__green"
                        type="submit"
                        [disabled]="formData3.invalid || !formImage"
                    >
                        +</button
                    >&nbsp;&nbsp;<span>Add Item</span>
                </div>
                <!-- <div class="hire-form__upload">
                    <input type="file" name="photo" accept="image/*" />
                    <label for="photo" class="caution"
                        >+ <br />Upload&nbsp;Item<br />
                        Photos</label
                    >
                </div> -->
                <!-- <div class="hire-btn__add">
                    <button class="btn btn__green" type="button">+</button
                    >&nbsp;&nbsp;<span>Add Photo</span>
                </div> -->
            </div>
            <div
                class="hire-item"
                *ngFor="let item of items; let index = index"
            >
                <div class="hire-item__name">
                    <h5>{{ index + 1 }}.&nbsp;&nbsp;{{ item.item }}</h5>
                </div>
                <div class="hire-item__quantity">
                    <h5>{{ item.quantity }}</h5>
                </div>
                <div class="hire-item__cost">
                    <h5>&#8358;{{ item.cost }}</h5>
                </div>
                <div class="hire-item__remove">
                    <a (click)="removeItem(index)" class="red underline pointer"
                        >Remove</a
                    >
                </div>
            </div>
            <br />
            <div class="hire-btn">
                <!-- <a class="hire-back" (click)="goBack()">Back</a> -->
                <button
                    class="btn btn__primary"
                    type="button"
                    (click)="submitUploads()"
                    [disabled]="items.length === 0"
                >
                    Next
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="activeTab === 4" class="hire-section">
        <h5>Delivery Address</h5>
        <form>
            <div class="hire-form">
                Payment Integration
            </div>
            <div class="hire-btn">
                <button
                    class="btn btn__primary"
                    type="button"
                    [routerLink]="['/hire-success']"
                >
                    Finish
                </button>
            </div>
        </form>
    </div>
</div>
